body {
  font-family: 'Catamaran', sans-serif;
}

#app {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Catamaran', sans-serif;
}

ul, ol {
  padding-left: 15px;
}

.form-wrapper {
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.form-checkbox {
  height: 5rem;
}

.form-checkbox label {
  font-size: 12px;
  width: auto;
  height: auto;
  white-space: normal;
  line-height: 12px;
}

.content__wraper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 1rem;
}

.logo {
  width: 80%;
}

.bonanza-name {
  font-weight: bold;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  padding: 1rem 0;
}

.form-wrapper .logo, .notfound .logo {
  width: 40%;
}

.jumbotron__image {
  max-width: 100% !important;
  height: auto !important;
}

@media (min-width: 615px) {
  .content__wraper, .form-wrapper {
    border-radius: 0;
  }
}
