body {
  font-family: 'Catamaran', sans-serif;
  font-size: 17px;
}

#app {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Catamaran', sans-serif;
}

ul, ol {
  padding-left: 15px;
}

.form-wrapper {
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.form-checkbox .v-label {
  font-size: 12px;
  width: auto;
  height: auto;
  white-space: normal;
  line-height: 12px;
}

.content__wraper {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 1rem;
}

.logo {
  width: 80%;
}

.bonanza-name {
  font-weight: bold;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  padding: 1rem 0;
}

.form-wrapper .logo, .notfound .logo {
  width: 40%;
}

.v-jumbotron__image {
  max-width: 100% !important;
  height: auto !important;
}

.v-carousel {
  height: 40vh;
}

.img__responsive {
  max-width: 100%;
  height: auto;
}

.recommend {
  border-radius: 10px;
}

.card__content {
  padding: 16px;
  text-align: left;
  border-top: 1px solid #cacaca;
}

.v-bottom-nav .v-btn {
  padding: 8px 5px 5px;
}

.v-bottom-nav .v-btn .v-btn__content span:first-child {
  white-space: initial;
  text-align: center;
}

.vue-star-rating-star {
  margin-top: 3px;
}

.vue-star-rating {
  margin: 0 auto;
}

.vueditor {
  min-height: 300px;
}

@media (max-width: 1024px) {
  .v-carousel {
    height: 28vh;
  }
}

@media (max-width: 695px) {
  .v-carousel {
    height: 25vh;
  }
}

@media (min-width: 615px) {
  .content__wraper, .form-wrapper {
    border-radius: 0;
  }
}
